{% style %}
  {% if section.settings.bgcolor!= blank %}
  .section-template--{{section.id}} .marquee{
    background: {{ section.settings.bgcolor }};
  }
  {% endif %}
  .marquee {
  --gap: 1rem;
    display: flex;
    gap: var(--gap);
    overflow: hidden;
    user-select: none;
  }
  .marquee svg {
    display: block;
}
  .marquee__content {
      flex-shrink: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-width: 100%;
      gap: var(--gap);
      margin: 0;
      padding: 0;
  }
  .scroll {
    animation: scroll 30s linear infinite;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  /* .marquees-wrapper:hover .scroll {
      animation-play-state: paused !important;
  } */
  .marquee__content li {
      list-style: none;
      font-size: 2.2rem;
      color: #000000;
      font-weight: 700;
  } 
{% endstyle %}
<section class="marquees-wrapper section-template--{{ section.id }}">
  <div class="section">
    <div class="marquee marquee-1">
      <ul class="marquee__content scroll">
       {% for block in section.blocks %}
       <li>
         {% if block.settings.iconcode != blank %}
         <span>{{ block.settings.iconcode }}</span>
         {% endif %}
         {% if block.settings.icon_img != blank %}
         <img src="{{ block.settings.icon_img | img_url: 'master' }}" alt="image" width="" height="" loading="lazy">
         {% endif %}
       </li>
       {% endfor %}
      </ul>
      <ul class="marquee__content scroll" aria-hidden="true">
        {% for block in section.blocks %}
       <li>
         {% if block.settings.iconcode != blank %}
         <span>{{ block.settings.iconcode }}</span>
         {% endif %}
         {% if block.settings.icon_img != blank %}
         <img src="{{ block.settings.icon_img | img_url: 'master' }}" alt="image" width="" height="" loading="lazy">
         {% endif %}
       </li>
       {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% schema %}
   {
"name": "Sliding logos",
"settings": [
  {
    "type": "color",
    "id": "bgcolor",
    "label": "Background color"
  }
],
"blocks": [
  {
  "type": "Image",
  "name": "Icon",
  "settings": [
		{
          "type": "image_picker",
          "id": "icon_img",
          "label": "Image"
        },
        {
          "type": "html",
          "id": "iconcode",
          "label": "Html"
        }
      ]
    }
  ],
"presets": [
 {
   "name": "Sliding logos",
   "category": "Home"
 }
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
